---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import Slider from '../components/Slider.astro'
import Header from '../components/Header.astro'
import Card from '../components/Card.astro'
import BotonesFlotantes from '../components/BotonesFlotantes.astro'
const foto5 = "/Slider/_MG_1528.jpg";
const foto6 = "/Slider/_MG_1314.jpg";
const foto7 = "/Slider/_MG_1325.jpg";
const foto1 = "/Slider/_MG_1400.jpg";
const foto2 = "/Slider/_MG_1410.jpg";
const foto3 = "/Slider/_MG_1452.jpg";
const foto4 = "/Slider/_MG_1461.jpg";
const foto8 = "/Slider/_MG_1489.jpg";
import { Media } from 'accessible-astro-components'
---

<DefaultLayout title="Inicio">
  <Header />
  <Hero />
  <section class="my-10" id="nosotros">
    <div class="container">
      <div class="grid grid-cols-1 gap-10 md:grid-cols-2 md:gap-24">
          <div class="swiper swiper1">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <Media src={foto1} alt="Mor Logo" class:list="rounded-lg"/>
              </div>
              <div class="swiper-slide">
                <Media src={foto2} alt="Mor Logo" class:list="rounded-lg"/>
              </div>
              <div class="swiper-slide">
                <Media src={foto3} alt="Mor Logo" class:list="rounded-lg"/>
              </div>
              <div class="swiper-slide">
                <Media src={foto4} alt="Mor Logo" class:list="rounded-lg"/>
              </div>
              <div class="swiper-slide">
                <Media src={foto5} alt="Mor Logo" class:list="rounded-lg"/>
              </div>
              <div class="swiper-slide">
                <Media src={foto6} alt="Mor Logo" class:list="rounded-lg"/>
              </div>
              <div class="swiper-slide">
                <Media src={foto7} alt="Mor Logo" class:list="rounded-lg"/>
              </div>
              <div class="swiper-slide">
                <Media src={foto8} alt="Mor Logo" class:list="rounded-lg"/>
              </div>
            </div>
    
              <!-- If we need navigation buttons -->
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
          </div>
        <div class="space-content flex flex-col justify-center">
          <h2>¿Quiénes Somos?</h2>
          <p class="text-xl">
            Mör Centro Dental está formado por un equipo de primer nivel, cuya gestión se basa en valores profesionales y éticos. 
            Tenemos como objetivo ofrecer un servicio de calidad a las necesidades de cada paciente.
            El trabajo en equipo y los conocimientos de los especialistas son claves para ofrecer un servicio diferenciado que dé respuesta, incluso, a los casos más complejos.
            El Dr. Juan Moreno es el encargado del equipo de especialistas, con una trayectoria profesional enfocada principalmente en ortodoncia.
          </p>
        </div>
      </div>
    </div>
  </section>  
  <section class="my-20">
    <div class="container" id="servicios">
      <h2 class="mb-16 text-6xl">Servicios</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="/iconos/diente.png" title="Odontología General" servicio="/odontologiaGeneral" id="">
          Es la especialidad que se centra en el diagnóstico, tratamiento y prevención de los problemas primarios de la boca.
        </Feature>
        <Feature icon="/iconos/cirugia.png" title="Cirugía Maxilofacial" servicio="/maxilofacial" id="Cirugia">
          Extracciones de dientes, alargamiento coronario y todo lo relacionado con la regeneración ósea guiada.
        </Feature>
        <Feature icon="/iconos/mandibula.png" title="Ortopedia Dentofacial" servicio="/ortopedia" id="Ortopedia">
          Corregimos tanto la posición de los dientes como las anomalías en la estructura ósea facial.
        </Feature>
        <Feature icon="/iconos/endodoncia.png" title="Endodoncia" servicio="/endodoncia" id="Endodoncia">
          La formación y experiencia de nuestro equipo permite salvar piezas dentales naturales muy deterioradas y con afectación nerviosa.
        </Feature>
        <Feature icon="/iconos/tirantes.png" title="Ortodoncia" servicio="/ortodoncia" id="Ortodoncia">
          Mejoramos su sonrisa usando los brackets metálicos, estéticos o los de microcristales de zafiro, que ofrecen mayor estética.
        </Feature>
        <Feature icon="/iconos/nino.png" title="Odontopediatría" servicio="/odontopediatria" id="Odontopediatria">
          Contamos con los mejores especialistas enfocados en el diagnóstico y tratamiento de la población infantil.
        </Feature>
        <Feature icon="/iconos/implante-dental.png" title="Implantología" servicio="/implantologia" id="Restauradora">
          Disciplina dedicada al reemplazo de dientes perdidos mediante la colocación quirúrgica de un implante.
        </Feature>
        <Feature icon="/iconos/chequeo-dental.png" title="Periodoncia" servicio="/periodoncia" id="Restauradora">
          Especialidad de la odontología que trata las enfermedades de las encías y del hueso que sostiene los dientes.
        </Feature>
        <Feature icon="/iconos/corona-dental.png" title="Prostodoncia" servicio="/prostodoncia" id="Restauradora">
          Especialidad de la odontología que se ocupa de diseñar y fabricar las prótesis dentales.
        </Feature>
      </div>
    </div>
  </section>
  <section class="my-20" id="promociones">
    <div class="container">
      <h2 class="text-4xl mb-16 sm:text-6xl">Promociones</h2>
      <div class="promociones">
        <Card imgSrc="/blanqueamiento.png"/>
        <Card imgSrc="/brackets.png"/>
        <Card imgSrc="/coronas.png"/>
        <Card imgSrc="/diseno-sorisa.png"/>
        <Card imgSrc="/implante.png"/>
      </div>
    </div>
  </section>
  <div id="testimonios"></div>
  <Slider />
  <!--<section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="130" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>-->
  <BotonesFlotantes />
</DefaultLayout>

<style>
  .promociones {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 450px));
    gap: 70px;
    justify-content: center;
  }
  .swiper1 {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 768px) {
    .promociones {
      grid-template-columns: repeat(1, 1fr);
      margin: 0 20px;
    }
  }
</style>
<script>
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'
  const swiper = new Swiper('.swiper1', {
  // Optional parameters
  slidesPerView: '1',
  direction: 'horizontal',
  loop: true,
  spaceBetween: 30,
  autoplay: {
    delay: 2000,
  },
  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});
</script>