---
interface Props {
  img1: string;
  img2: string;
  title: string
  imgSrc: string
}
const { img1, img2, title, imgSrc } = Astro.props;
import Card2 from '../components/Card2.astro'
---

<section class="container">
  <h2 class="text-left text-6xl my-20">Nuestros Pacientes</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 place-items-center mt-5 mb-12 gap-10">
    <Card2 title={title} imgSrc={imgSrc}/>
    <Card2 title={title} imgSrc={img1}/>
    <Card2 title={title} imgSrc={img2}/>
  </div>
</section>

<!-- Estilos -->
<style>

</style>